
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
</head>
<body>
    <form action="/Login/AfterSignIn" method="post">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>User Name</td>
                    <td> <input type="text" name="UserName" value="" /> </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td> <input type="password" name="Password" value="" /> </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input class="btn btn-primary" type="submit" name="btnLogin" value="Login" />
                    </td>
                </tr>
            </table>
        </div>

    </form>
</body>
</html>
