@model _00MVC.Models.Emp

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>meraview</title>
</head>
<body>
    <div> 
        <h1>Dear @Model.Name  Welcome to MVC</h1> 
        <h2> from @Model.Address</h2>
    </div>
</body>
</html>
