
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create New</title>
</head>
<body>
<form action="/Home/AfterCreate" method="post">
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td>No</td>
                <td> <input type="text" name="No" value="" /> </td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td> <input type="text" name="Name" value="" /> </td>
                <td></td>
            </tr>
            <tr>
                <td>Address</td>
                <td> <input type="text" name="Address" value="" /> </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <input class="btn btn-primary" type="submit" name="btnCreate" value="Add" />
                </td>
            </tr>
        </table>
    </div>

</form>
</body>
</html>
