<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        <h1>Some thing is wrong!</h1>
        <br/>
        <h6>Technical Details: @Model.Exception.Message</h6>
        @*<h6>Technical Details: @Model.Message</h6>*@
    </div>
</body>
</html>
